#header
{
	margin-top:15px
}

#header ul
{
	list-style:none;
	position:relative;
}

#header ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:36px;
	padding:0 18px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#header ul li
{
	position:relative;
	float:left;
}

#header ul li.current-menu-item
{
	background:#ddd
}

#header ul li:hover
{
	background:#f6f6f6
}

#header ul ul
{
	display:none;
	position:absolute;
	background:#fff;
}

#header ul ul li
{
	width:100px
}

#header ul li:hover > ul
{
	display:block
}